---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About" description="Portfolio de Sébastien">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Merci d'être arrivé jusqu'ici et de vouloir apprendre à me connaître un peu plus !"
			/>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p class="paragraph">
						Depuis toujours, ma passion pour tous les aspects du
						monde informatique a été une constante dans ma vie.
						Cette fascination pour la technologie a guidé mes choix
						et mes aspirations.
					</p>
					<p class="paragraph">
						Après avoir pris la décision courageuse de me
						reconvertir professionnellement, j'ai entrepris un
						parcours d'apprentissage enrichissant avec l'école
						STUDI. Là, j'ai pu acquérir de solides compétences et
						obtenir un diplôme qui m'a ouvert de nouvelles portes
						dans le domaine de l'informatique.
					</p>
					<p class="paragraph">
						Aujourd'hui, fort de cette formation et de ma passion
						indéfectible, je suis impatient de relever de nouveaux
						défis et de continuer à élargir mes connaissances.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>PHP 8</p>
					<p>Git</p>
					<p>Symfony 6+</p>
					<p>Twig</p>
					<p>API REST</p>
					<p>Docker</p>
					<p>Agile / SCRUM</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.paragraph {
		text-align: justify;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
